.our-activities {
  background: black;
  padding: 0 135px;
  padding-bottom: 150px;
}
.our-activities h1 {
  text-align: center;
}
.container {
  background: red;
  width: 100px;
}

.img {
  width: 700px;
  height: 400px;
  margin: 0 auto;
}
