.img {
  border-radius: 222px;
  width: 420px;
  height: 420px;
  background: white;
}

.main-person {
  display: flex;
}

.title {
  margin-bottom: 20px;
}

.main-info {
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

.name {
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-title {
  margin: 0;
}
