.our-projects {
  background: black;
  padding-bottom: 200px;
}
.our-projects h3 {
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 30px;
}

.title-slide {
  margin-bottom: 30px;
}
.img {
  margin: 0 auto;
}
