.img {
  border-radius: 222px;
  width: 420px;
  height: 420px;
  background: white;
}

.main-person {
  display: flex;
  padding-top: 50px;
}

.title {
  margin-bottom: 20px;
}

.main-info {
  padding: 0 20px 20px 20px;
  border: 1px solid white;
  border-radius: 10px;
}

.name {
  margin-bottom: 20px;
}

.list {
  gap: 5px;
}
